BasedOnStyle:  LLVM
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit:     120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: false
IndentCaseLabels: false
IndentWidth:     4
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 4
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 2
PenaltyBreakString: 1000000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
PointerAlignment: Left
TabWidth:        4
SpaceAfterTemplateKeyword: false
ReflowComments: false
