BasedOnStyle:  LLVM
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakTemplateDeclarations: true
FixNamespaceComments: false
IndentCaseLabels: false
IndentWidth:     4
TabWidth:        4
BinPackParameters: false
PenaltyBreakAssignment: 20
PenaltyBreakBeforeFirstCallParameter: 15
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 1
PenaltyBreakString: 30
PenaltyExcessCharacter: 1
PenaltyReturnTypeOnItsOwnLine: 30
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
ReflowComments: false
SortIncludes:    true
BreakStringLiterals: false
