BasedOnStyle:  LLVM
AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
ColumnLimit:     100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: false
IndentCaseLabels: true
IndentWidth:     4
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakFirstLessLess: 1000
PointerAlignment: Left
TabWidth:        4

